.container{
    width: 100%;
    height: auto;
}

.row1{
    width: 100%;
    height: 1020px;
    background-image:url(./kontakt.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    width: 160px;
    height: 160px;
  }
.header{
    height: 15%;
    opacity: 0.8;
    background: rgba(255,255,255,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    display: flex;
    gap:48px;
}
:root {
    --background: #222222;
    --foreground: #333333;
    --accent: orange;
    --text-primary: #ffffff;
    --text-secondary: #ffffff7f;
    --border: #555555;
  }
  .header .right #login {
    padding: 8px 20px;
  
    border: 1px solid var(--text-primary);
  
    border-radius: 8px;
  
    margin-left: 1rem;
  }
  
  .header .right #login:hover {
    background-color: var(--accent);
  
    color: #fff;
  
    border: 1px solid var(--accent);
  }

a.link {
    text-decoration: none;
    color: var(--text-primary);
    transition: 300ms;
    font-size: 25px;
  }
  
  a.link:hover {
    color: var(--accent);
  }
@font-face{
    font-family:"Open Sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")
    format("woff2"); /*specify thee font format(in this case woff2*/
    font-weight: normal;
    font-style: normal;
}
.nav a{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-decoration: none;
}
.main{
    text-align: center;
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
mark{
    background-color: orange;
    color: white;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.main button{
    margin-left: 10px;
    border-radius: 50px;
    border: 1.5px solid #FFF;
    display: flex;
    padding: 14px 24px;
    align-items: flex-start;
    gap: 10px;
    background-color: transparent;
    color: wheat;
}
.main h2{
    font-family: 'Lobster';
    font-size: 72px;
    color: whitesmoke;
    font-weight: 400;
}
.main p{
    color: white;
}
.main_box{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    flex-direction: column;
}
.row2{
    background-color: orange;
    opacity: 0.9;
    width:100%;
    height: 355px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row2_box{
    display: inline-flex;
    padding: 30px;
    flex-direction: column;
align-items: center;
gap: 15px;
border-radius: 24px;
background: rgba(255,255,255,0.30);
width: 290px;
height: 200px;
}
.fa-award{
    font-size: 100px;
    color: orange;
}
h1{
    text-align: center;
    color: orange;
}
p{
    text-align: center;
}
nav li{
    float: left;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}
nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    background-color: #ddd;
    color:black;

}
.row3{
    width: 100%;
}
.section_main{
    display: flex;
    height: 500px;
}
section{
    width:30%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
section h2{
    color:#333;

}
ul{
    list-style: none;
    padding: 0;
    margin:0;
}
ul li{
    margin-bottom: 10px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.row4 {
    height: 500px;
    background-color: #333;
}
 .row4__boxes {
    padding: 10px;
    justify-content: space-around;
    display: flex;
 }

 .box12 {
    display: inline-flex;

    flex-direction: column;

    margin-top: 25px;
 }
 .box12 h1 { 
    color: var(--white,#fff);
    font-family: Open Sans;
    font-size: 25px;
 }
.box12 h2 {
    color: var(--white,#fff);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 100;
}

.row4_logos a {
    text-decoration: none;
    padding: 10px;
}
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-pinterest {
    color: orange;
}
.text12 {
    text-align: center;
    color: var(--white,#fff);
    font-family: Open Sana;
    font-size: 16px;
    font-weight: 400;
}
.row4__logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row4__logo img{
    width: 40px;
    display: flex;
  
  }