














































































































































































































































































































































































































































































.row6 {
    height: 500px;
    background-color: #333;
  }
  .row6__boxes {
    padding: 10px;
    justify-content: space-around;
    display: flex;
  }
  
  .box12 {
    display: inline-flex;
  
    flex-direction: column;
  
    margin-top: 25px;
  }
  .box12 h1 {
    color: var(--white, #fff);
    font-family: Open Sans;
    font-size: 25px;
  }
  .box12 h2 {
    color: var(--white, #fff);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 100;
  }
  
  .row6_logos a {
    text-decoration: none;
    padding: 10px;
  }
  .fa-facebook,
  .fa-instagram,
  .fa-twitter,
  .fa-pinterest {
    color: orange;
  }
  .text12 {
    text-align: center;
    color: var(--white, #fff);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
  }
