.container{
    width: 100%;
    height: auto;
}

#header {
    width: 100%;
    height: 150px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav {
    display: flex;
    gap: 48px;
}
@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")
     format("woff2");
     font-weight: normal;
     font-style: normal;
}
.nav a {

    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #333;
}
#form{
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    width: 100%;
    display: flex;
} 
a{
    color: black;
}
.info{
    width: 800px;
    flex-direction: column;
    color: var(--black,#333);
}
.info_call{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}
.info h1{
    color: var(--black,#333);
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
}
p{
    color: var(--black,#333);
font-size: 35px;
font-weight: 600;
}
h2{
    color: var(--black,#333);
font-family: Open Sana;
font-size: 25px;
font-weight: 600;
line-height: 26px;
}
.forma 
{
    display: flex;
    justify-content: center;
    width: 800px;
    gap: 30px;
}
form{
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: bisque;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(13 13 13);
}
label {
    display: block;
    margin-bottom: 8px;
}
input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: orange; 
}

#footer{
    height: 500px;
    background-color: #333;
}

.row4_boxes{
    padding: 10px;
    justify-content: space-around;
    display: flex;
}

.box12{
    display: inline-flex;
    flex-direction: column;
    margin-top: 25px;
}

.box12 h1{
    color: var(--white, #fff);
    font-family: Open Sans;
    font-size: 25px;
}

.box12 h2{
    color: var(--white, #fff);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 100;
}
.row4_logos a{
    text-decoration: none;
    padding: 10px;
}
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-pinterest {
    color: orange;
}

.text12{
    text-align: center;
    color: var(--white, #fff);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}
